@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-600: #2563eb;
  --dark-blue-600: #4479ee;
  --zinc-900: #18181b;
  --bg-header: rgba(245, 249, 255, 0.8);
  --zinc-500: #71717a;
  --blue-gray-900: #0f172a;
}

.card {
  /* For light mode */
  box-shadow: 0 0 5.62963px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.card:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

/* For dark mode */
@media (prefers-color-scheme: dark) {
  .card {
    box-shadow: 0 0 5.62963px 0 rgba(255, 255, 255, 0.2);
  }
}

.first-header {
  @apply flex justify-between items-center bg-[var(--bg-header)] backdrop-blur-[10px];
}
.list-class {
  @apply font-poppins font-medium hover:opacity-80;
}

.flex-center {
  @apply flex items-center;
}
.flex-start {
  @apply flex !justify-start items-start;
}

.login-button {
  @apply py-10 px-10 text-center flex-center rounded-[10px] border border-[0.5px_solid_#2563EB] hover:animate-pulse hover:ease-out hover:duration-300;
}
.sign-button {
  @apply py-10 px-10 text-center flex-center text-white rounded-[10px] bg-[var(--blue-600)] hover:animate-pulse hover:ease-out hover:duration-300 active:transition-all active:ease-out active:duration-300;
}

.light-dark {
  @apply py-10 px-10 text-center border border-[1px_solid_#2563eb] font-bold;
}

.blue-text {
  @apply font-poppins text-[clamp(32px,4.5vw,72px)] text-[var(--blue-600)] leading-[120%];
}

.black-text {
  @apply font-poppins text-[clamp(32px,4.5vw,72px)] text-[var(--zinc-900)] dark:text-white leading-[120%];
}

.zinc-text {
  @apply font-poppins text-24 font-normal leading-[160%];
}

.action-button {
  @apply py-12 flex items-center rounded-[10px] text-16 whitespace-nowrap;
}

.scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.scroll-container figure {
  display: inline-flex;
  animation: scroll 60s linear infinite; /* Adjust duration as needed */
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes fadeIn {
  from {
    background: var(--blue-600);
  }
  to {
    background: var(--dark-blue-600);
  }
}

.fade-in-button {
  animation: fadeIn ease-out 300ms;
}
